.movie_box{
    display: flex;
    gap: 50px;
    margin: 30px;
    justify-content: center;
    
}
.precios{
   margin: 30px 0px;
   margin-bottom: 10px;
    font-size: 1em;
   
}
.precio_spans{
    display: flex;
    gap: 20px;
}
.movie_texts{
    width: 50%;
    
}
.buttons{
    display: flex;
    gap: 20px;
    
    justify-content: flex-end;
}
@media screen and (max-width: 500px) {
   .movie_box{
   
    
    margin: 20px;
    margin-top: 20px;
    font-size: 0.6em;
    gap: 10px;
   }
   .buttons_count{
    font-size: 1.1em !important;
    
    margin: 5px !important;
    
    
   }
   
   p {
    font-size: 1.2em;
   }
   .imagen{
    width: 130px;
   }
   .buttons_count_box{
    justify-content: flex-start;
    
   }
   .movie_texts{
    width: 60%;
    font-size: 1.1em;
}
  }
.movie_texts p{
    margin-top: 40px;

}