.movies_box{
    
    display: flex;
    
    
}
.title{
    padding: 25px;
    font-size: 1.8em;
    font-weight: 800;
    
}
.home_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}