.nav_routes{
  
  padding: 10px 20px;

}
.nav_routes:hover{
  background-color: rgb(61, 61, 61);


}
.navbar_movile{
  height: fit-content !important;
}
.button_logout{
  width: fit-content;
  margin-top: 10px;
}
  
