.nav_routes{
  
  padding: 10px 20px;

}
.nav_routes:hover{
  background-color: rgb(61, 61, 61);


}
.navbar_movile{
  height: fit-content !important;
  color: black;
}
.button_logout{
  width: fit-content;
  margin-top: 10px;
}
.navbar{
  background-color: rgb(154, 154, 154) !important;
}

  
